.gitattributes !filter !diff
apps/.config/deemix/** filter=git-crypt diff=git-crypt
apps/.config/hexchat/** filter=git-crypt diff=git-crypt
apps/.config/kdeconnect/** filter=git-crypt diff=git-crypt
apps/.config/docker-compose.yml filter=git-crypt diff=git-crypt
awesome/.config/fish/** filter=git-crypt diff=git-crypt
cloud/.config/drivedlgo/** filter=git-crypt diff=git-crypt
cloud/.config/rclone/** filter=git-crypt diff=git-crypt
