apps/.config/mpv/watch_later/
apps/.config/mpv/mpvClipboard.log
apps/.config/mpv/mpvHistory.log
vim/.vim/swap/
vim/.vim/undo/
vim/.vim/.netrwhist
vim/.vim/viminfo
scripts/.local/bin/*
!scripts/.local/bin/*,*
!scripts/.local/bin/t.py
!scripts/.local/bin/mi.py
!scripts/.local/bin/fzf-alacritty-theme-switcher
!scripts/.local/bin/fzf-confedit
!scripts/.local/bin/tmux-uptime
!scripts/.local/bin/tmux-cht.sh
notes/.notes/quick.md
apps/.config/dmscripts/dmnote
