apps/.config/mpv/watch_later/
apps/.config/mpv/mpvClipboard.log
apps/.config/mpv/mpvHistory.log
vim/.vim/swap/
vim/.vim/undo/
scripts/.local/bin/*
!scripts/.local/bin/*,*
!scripts/.local/bin/t.py
!scripts/.local/bin/mi.py
notes/.notes/quick.md
!scripts/.local/bin/rofi-emoji
!scripts/.local/bin/rofi-power-menu
!scripts/.local/bin/tilix-backup
!scripts/.local/bin/backup-appdata
!scripts/.local/bin/rofi-screenshot
